<% include layout/header.ejs %>

    <h1>Hello EJS Form!</h1>
    <form method="post">
        <input type="text" name="title">
        <br>
        <textarea cols="30" rows="7" name="body"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>

<% include layout/footer.ejs %>