<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EJS</title>
</head>
<body>
    <h1>Hello EJS!</h1>
    <a href="/create">Add</a>
    <ul>
       <% posts.forEach(function(post){ %>
        <li>
            <b>
                <%= post.title %>
            </b>
            <br>
            <%= post.body %>
        </li>
        <br>
        <br>
       <% }); %>
    </ul>
</body>
</html>